<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Інструкція</title>
</head>

<body>
    <h1 class="v">Вас вітає онлайн гра</h1>
    <style>
        .v {
            text-align: center;
        }
    </style>
    <h2 id="start">Інструкція:</h2>
    <p>
    <h2>Як тільки Ви зайдете в гру, перше що Ви побачите буде сайт з авторизацією.
        Спочатку Ви повинні придумати унікальне ім*я свого бійця.
        Далі створіть та запам*ятайте пароль.
        Після всіх цих дій нажміть кнопку "увійти".</h2>
    </p>

    <p>
    <h2>Як тільки Ви натиснули кнопку "увійти" Вас перекина на ігрове меню.
        Зліва в верхньому углу вам буде показано кількість перемог та поразок.
        Також там знаходиться кнопка "вийти на ринг".<br>
        На екрані у Вас буде 2 колонки. В сірій колонці Ви повинні вибрати міце куди Ви бажаєте нанести удар.
        В жовтій колонці Ви повинні вибирати , що Ви будете захищати.
        Після цього Ви нажимаєте кнопку "вийти на ринг".

    </h2>
    </p>
    <p>
    <h2>
        Якщо ви раптом передумали грати , натисніть кнопку "вийти з рингу".
    </h2>
    </p>
    <!--
    <p>
    <h2>
        P.S. Якщо у вас виникли якісь проблеми. Знизу є місцу для коментарів
    </h2>
    </p>
    -->
    <h2>Готов піти в бій?</h2>
      <form method="post" action="/" >
          <button name = "btn_login_go" value="login_go" style="width:100px;height:30px"><b>Так</b></button>
      </form>

    <br>
    <br>
<!--    <textarea name="coment" maxlength="250" placeholder="Місце для коментарів." class="e"></textarea>-->
<!--    <style>-->
<!--        .e {-->
<!--            width: 1300px;-->
<!--            height: 300px;-->
<!--        }-->
<!--    </style>-->
</body>

</html>
